
{% block form_row %}
    <div class="form-group">
        {{ form_label(form) }}        
        {{ form_widget(form) }}
        <div class="alert-danger"> {{ form_errors(form) }}</div>
    </div>
{% endblock form_row %}